@model List<EmployeeViewModel>

<h2>Employees</h2>

<button onclick="openEmployeeCreatingModal()" class="btn btn-primary">Add Employee</button>

<table id="employeeTable" class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>
                    <button onclick="openEmployeeUpdatingModal('@employee.Id')" class="btn btn-primary">Edit</button>
                    <button onclick="deleteEmployee('@employee.Id')" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalContainer"></div>

@{
    await Html.RenderPartialAsync("_ErrorModal");
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable({
                "columnDefs": [{
                    "targets": -1,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
        function deleteEmployee(id){
            $.ajax({
                url: '/Employee/Delete/' + id,
                type: 'DELETE',
                success: function (response){
                    location.reload();
                },
                error: function (xhr) {
                    $('#errorModal .modal-body').html(xhr.responseText);
                    $('#errorModal').modal('show');
                }
            });
        };
        function openEmployeeCreatingModal() {
            $.ajax({
                url: '/Employee/EmployeeModal',
                type: 'GET',
                success: function (response) {
                    $("#modalContainer").html(response);
                    $("#employeeModal").modal('show');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        };
        function openEmployeeUpdatingModal(id) {
            console.log(id);
            $.ajax({
                url: '/Employee/EmployeeModal',
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    $("#modalContainer").html(response);
                    $("#employeeModal").modal('show');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>

}